.img-container{
    padding-top:2.5px;
    padding-bottom: 2.5px;
}

.profile-pic{
   display: flex;
   flex-direction: column;
   justify-content: center;
   border: 3px solid #333333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    
}